
.popup-container {
    width: 300px;
    text-align: center;
    background-color: white;
    border: 5px solid black;
    border-radius: 10px;
    padding: 4px;
}

.popup-container button {
    border-radius: 4px;
    border: none;
    text-align: center;
}

.popup-container a {
    text-decoration: none;
    margin: 10px;
}

#follow-button {
    background-color: green;
    color: white;
}

#cancel-button {
    background-color: red;
    color: white;
}